<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Students</title>
    <th:block th:include="/include/head"></th:block>
</head>
<body>

<th:block th:include="/include/header"></th:block>

<div class="container mt-5">
    <h1 class="text-center mb-4">Add Students</h1>
    <form style="border: 1px solid #dad8d8;border-radius: 5px; max-width: 600px; padding: 30px; margin: 0 auto;flex-direction: column; align-items: center" th:action="@{/api/students/add}" th:object="${student}" method="post">
        <div class="form-group">
            <label for="class_name">Class Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="class_name">
        </div>
        <div class="form-group" style="display: flex; justify-content: space-between" >
            <div >
                <label for="age">Age</label>
                <input type="number" th:field="*{age}" class="form-control" id="age">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" th:field="*{email}" class="form-control" id="email">
            </div>

        </div>
        <button style="padding: 5px 30px;align-items: center; display: flex; margin: 0 auto" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<th:block th:include="/include/footer"></th:block>

</body>
</html>